# Change this to your final url when deploying
NEXT_PUBLIC_APP_URL="http://localhost:1999"

# Go to https://console.neon.tech/ and create a new project
# Project Dashboard > Tick Pooled Connection > Copy Connection URL
DATABASE_URL=

# Go to https://discord.com/developers/applications, 
# Create an app > oauth2 > general > client information
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Go to https://console.cloud.google.com/apis/credentials. 
# Choose project (or create new), then create credential for OAuth Client ID
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# generate via running `openssl rand -base64 32` in bash terminal
NEXTAUTH_SECRET=

# CONSUMET API_URL
# or your SELF hosted instance, must match returned types in https://github.com/gneiru/kd/blob/master/src/types/index.ts#L38-L68 to work with the current codebase
API_URL=

# (Optional) follow this guide, https://api.slack.com/messaging/webhooks
SLACK_WEBHOOK_URL=